<div class="p-3">
  <ul data-post-card-target="comments" class="list-unstyled">
    <% if comments.empty? %>
      <li data-post-card-target="emptyCommentBox"><span><%= "No comments yet" if comments.empty? %></span></li>
    <% else %>
      <% comments.each do |comment| %>
        <li><%= render "comments/comment", comment: comment %></li>
      <% end %>
      <% if comments.first.post.comments.count > comments.count %>
        <div class="d-flex justify-content-end">
          <%= link_to "more comments...", post_path(comments.first.post), class: "text-decoration-none" %>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>